body
	.ui.form
		+cityAndRegion

template(name='cityAndRegion')
	.three.wide.field#cityAndRegion
		label City
		.ui.segment(tabindex='-1' data-bind="click: showPopup")
			span.text.curCity(data-bind='html: city_region' name='city')

		.ui.popup(style='width:inherit;')
			//if wasClicked
			+regionChooser
			+cityChooser
			//else
			//	.ui.loader.active.small

template(name='regionChooser')
	.ui.dropdown.chooseRegion
		span.text(data-bind='text: regionName')
		i.dropdown.icon
		.scrolling.menu
			.ui.icon.search.input
				i.search.icon
				input
			.divider
			each regions
				.item(data-id='#{_id}') #{name}

template(name='cityChooser')
	.ui.dropdown.chooseCity
		span.text(data-bind='text: cityName')
		i.dropdown.icon
		.scrolling.menu
			.ui.icon.search.input
				i.search.icon
				input
			each cities
				.item(data-id='#{_id}') #{name}
