body
	+tpl

template(name="tpl")
	.ui.fluid.selection.dropdown#districtDD
		.default.text Select District
		.menu
			.item District1
			.item District2
			.item District3
			//each district
			//	.item(data-value='#{_id}') #{name}